@charset "utf-8";
/* CSS Document */

@import url('https://fonts.cdnfonts.com/css/aller');

*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	    text-decoration: none;
	    font-family: 'Aller', sans-serif;
	    font-size: clamp(1rem, NaNrem + NaNvw, 1rem);
	    field-sizing: content;
	    letter-spacing: -1px;
	    
       /*the clamp calculator
	line-height: 30px;*/
    
	}


::-webkit-scrollbar{
    width: 12px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    border-radius: 10px;
    background-color: #e3e4e5;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #0dcaf0;
    background-image: -webkit-linear-gradient(90deg,transparent,rgba(0, 0, 0, 0.4) 50%,transparent,transparent)
}
		
	.navbar{
		width: 100%;
		max-width: 1366px;
		height: auto;
		max-height: 360px;
		border-radius: 0px 0px 20px 20px;
		background: linear-gradient(90deg, rgba(240,240,240,1) 10%, rgba(136,137,241,1) 29%, rgba(71,72,238,1) 42%, rgba(33,34,217,1) 53%, rgba(8,9,173,1) 68%, rgba(4,5,158,1) 100%);
		text-align: center;
	}


.nav-item{
    
 margin-right: 5px;

  }
	  /* Remove border from toggler */
.navbar-toggler {
    border: 0 !important;
	 
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 0 !important;
	
}

/* Lines of the Toggler */
.toggler-icon{
    width: 30px;
    height: 3px;
    background-color: #FFFFFF;
    display: block;
    transition: all 0.2s;
}

/* Adds Space between the lines */
.middle-bar{
    margin: 5px auto;
}

/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}
/* State when navbar is opened (END) */

/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}
/* State when navbar is collapsed (END) */

/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
   background-color: #FFFFFF;
}
 .enlaces{
    display: inline-block;


  }
  .enlaces a{
    color: #EFEFEF;
	font-size: 19px;
    text-decoration: none;
    display: inline-block;
    padding: 2px;
    text-align: center;
   
	 
  }
  .enlaces i{
    margin-right: 5px;
	 
  }
  .enlaces a:hover{
     text-decoration: none;
     color:#FFFFFF;

  } 
  
 .soa {
	color: black;
  }

  .soa:hover {
	color: black;
  }


/* efectos del menu*/

.headroom {
    will-change: transform;
    transition: transform 200ms linear;
	
	
}
.headroom--pinned {
    transform: translateY(0%);
	 
	
}
.headroom--pinned:hover{  box-shadow: 5px 5px 0 #00C;
  }
.headroom--unpinned {
    transform: translateY(-100%);
	


}


/* baarra social */
	.container-bar{
		width: 100%;
		max-width: 55px;
		position: fixed;
		right: 0;
		top: 30%;
		z-index: 2;
	}
	.container-bar a{
		display: block;
		padding: 15px;
		text-decoration: none;
		font-size: 17px;
		position: relative;
		transition: all 500ms ease;
		color: #fff;
		text-align: center;
	}
	.container-bar a:hover{
		background: #1c1c1c;
		text-decoration: none;
		color: white;
	}
	.container-bar .icon-facebook-with-circle{
		background: #3b5998;
		border-radius: 5px 0px 0px 0px;
	}
	.container-bar .icon-youtube-with-circle{
		background: #e52a23;
	}

	.container-bar  .bi-twitter-x{
		background: gray;
	}
	.container-bar .icon-mail{
		background: #0dcaf0;
	}
	
	.container-bar .icon-instagram-with-circle{
		background: #747473;
		border-radius: 0px 0px 0px 5px;
	}
	.container-bar .title{
		position: fixed;
		background: #1c1c1c;
		padding: 6px;
		border-radius: 3px;
		font-size: 15px;
		margin-top: -4px;
		transition: all 500ms ease;
		opacity: 0;
		visibility: hidden;
		z-index: -1;
		color: white;
	}
	.container-bar a:hover .title{
		opacity: 1;
		visibility: visible;
		margin-left: -150px;
		color: white;
	}
	.container-bar .title:after{
		position: absolute;
		content: '';
		border-left: 5px solid transparent;
		border-left: 5px solid #1c1c1c;
		border-top: 6px solid transparent;
		border-bottom: 6px solid transparent;
		left: 100%;
		top: 8px;
		color: white;
	}
	#btn-social{
		display: none;
	}
	.icon-play-1{
		cursor: pointer;
		transition: all 0.4s;
		font-size: 27px;
		margin-bottom: 2px;
		margin-left: 32px;
		display: inline-block;
		transform: rotate(180deg);
		color: #000000;
		font-weight: bold;
	}
	#btn-social:checked ~.icon-play-1{
		transform: rotate(0deg);
	}
	.icon-social{
		transition: all 0.4s;
		transform: translateX(0%);
		box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
	}
	#btn-social:checked ~ .icon-social{
		transform: translateX(100%);
	}
/* barra social arriba */

.icon-facebook{  color:#3b5998; text-decoration: none;}
.icon-facebook:hover{text-decoration: none; color:#3b5998;}

.x{color:white; text-decoration: none;}
.x:hover{text-decoration: none; color:white;}

.icon-youtube{  color:#c4302b; text-decoration: none;}
.icon-youtube:hover{text-decoration: none; color:#c4302b;}

.bi-envelope{  color:#6100FF; text-decoration: none;}
.bi-envelope:hover{text-decoration: none; color:#6100FF;}

.icon-instagram{  color:#666666; text-decoration: none;}
.icon-instagram:hover{text-decoration: none; color:#666666;}

/* ir arriba*/
.icon-chevron-small-up{
	display:none;
	padding:10px;
	background-color:#024959;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:101px;
	right:10px;
	z-index: 1;
	border-radius: 5px 5px 5px 5px;
	transition: bottom 0.5s;
	
}

.icon-chevron-small-down{
    display:none;
	padding:10px;
	background-color:#024959;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom: 60px;
  right: 10px;
	z-index: 1;
	border-radius: 5px 5px 5px 5px;
	transition: bottom 0.5s;
  
}

  /* dark togle*/

  body{

	font-family: 'Aller', sans-serif;
	 scroll-padding-top: 65px;
		transition: all .3s;
  }

body::after{
			content: '';
			width:100%;
			height: 100%;
			position: fixed;
			top: -100vw;
			left: 0;
			background: #fff;
			transition: all .3s;
		}
body.dark{
	background: #F4F3EE;
	color: black;
	font-family: 'Aller', sans-serif;
  }

  .switch {
	background: #000000;
	border-radius: 1000px;
	border: none;
	position: relative;
	cursor: pointer;
	display: flex;
	outline: none;
	z-index: 1;
  }
  
  .switch::after {
	content: "";
	display: block;
	width: 30px;
	height: 30px;
	position: absolute;
	background: #ffffff;
	top: 0;
	left: 0;
	right: unset;
	border-radius: 100px;
	-webkit-transition: .3s ease all;
	transition: .3s ease all;	
  }
  
  .switch.active {
	background: yellow;
	color: #000;
  }
  
  .switch.active::after {
	right: 0;
	left: unset;
	
  }
  
  .switch span {
	width: 30px;
	height: 30px;
	line-height: 30px;
	display: block;
	background: none;
	color: #fff;
  }

  .soa {
	color: black;
  }

  .soa:hover {
	color: black;
  }


a, a:hover {
	text-decoration: none;
	transition: color 0.3s ease-in-out;
}

#pageHeaderTitle {
	margin: 2rem 0;
	text-transform: uppercase;
	text-align: center;
	font-size: 2.5rem;
}

/* Cards */
.postcard {
  flex-wrap: wrap;
  display: flex;
  
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: #ffffff;

	&.dark {
		background-color: #18151f;
	}
	&.light {
		background-color: #e1e5ea;
	}
	
	.t-dark {
		color: #18151f;
	}
	
  a {
    color: inherit;
  }
	
	h1,	.h1 {
		margin-bottom: 0.5rem;
		font-weight: 500;
		line-height: 1.2;
	}
	
	.small {
		font-size: 80%;
	}

  .postcard__title {
    font-size: 1.75rem;
  }

  .postcard__img {
    max-height: 180px;
    width: 100%;
    object-fit: cover;
    position: relative;
  }

  .postcard__img_link {
    display: contents;
  }

  .postcard__bar {
    width: 50px;
    height: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.2s ease;
  }

  .postcard__text {
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .postcard__preview-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    height: 100%;
  }

  .postcard__tagbox {
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    margin: 20px 0 0 0;
		padding: 0;
    justify-content: center;

    .tag__item {
      display: inline-block;
      background: rgba(83, 83, 83, 0.4);
      border-radius: 3px;
      padding: 2.5px 10px;
      margin: 0 5px 5px 0;
      cursor: default;
      user-select: none;
      transition: background-color 0.3s;

      &:hover {
        background: rgba(83, 83, 83, 0.8);
      }
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-70deg, #424242, transparent 50%);
    opacity: 1;
    border-radius: 10px;
  }

  &:hover .postcard__bar {
    width: 100px;
  }
}

@media screen and (min-width: 769px) {
  .postcard {
    flex-wrap: inherit;

    .postcard__title {
      font-size: 2rem;
    }

    .postcard__tagbox {
      justify-content: start;
    }

    .postcard__img {
      max-width: 300px;
      max-height: 100%;
      transition: transform 0.3s ease;
    }

    .postcard__text {
      padding: 3rem;
      width: 100%;
    }

    .media.postcard__text:before {
      content: "";
      position: absolute;
      display: block;
      background: #18151f;
      top: -20%;
      height: 130%;
      width: 55px;
    }

    &:hover .postcard__img {
      transform: scale(1.1);
    }

    &:nth-child(2n+1) {
      flex-direction: row;
    }

    &:nth-child(2n+0) {
      flex-direction: row-reverse;
    }

    &:nth-child(2n+1) .postcard__text::before {
      left: -12px !important;
      transform: rotate(4deg);
    }

    &:nth-child(2n+0) .postcard__text::before {
      right: -12px !important;
      transform: rotate(-4deg);
    }
  }
}
@media screen and (min-width: 1024px){
		.postcard__text {
      padding: 2rem 3.5rem;
    }
		
		.postcard__text:before {
      content: "";
      position: absolute;
      display: block;
      
      top: -20%;
      height: 130%;
      width: 55px;
    }
	
  .postcard.dark {
		.postcard__text:before {
			background: #18151f;
		}
  }
	.postcard.light {
		.postcard__text:before {
			background: #e1e5ea;
		}
  }
}

/* COLORS */
.postcard .postcard__tagbox .green.play:hover {
	background: $main-green;
	color: black;
}
.green .postcard__title:hover {
	color: $main-green;
}
.green .postcard__bar {
	background-color: $main-green;
}
.green::before {
	background-image: linear-gradient(
		-30deg,
		$main-green-rgb-015,
		transparent 50%
	);
}
.green:nth-child(2n)::before {
	background-image: linear-gradient(30deg, $main-green-rgb-015, transparent 50%);
}

.postcard .postcard__tagbox .blue.play:hover {
	background: $main-blue;
}
.blue .postcard__title:hover {
	color: $main-blue;
}
.blue .postcard__bar {
	background-color: $main-blue;
}
.blue::before {
	background-image: linear-gradient(-30deg, $main-blue-rgb-015, transparent 50%);
}
.blue:nth-child(2n)::before {
	background-image: linear-gradient(30deg, $main-blue-rgb-015, transparent 50%);
}

.postcard .postcard__tagbox .red.play:hover {
	background: $main-red;
}
.red .postcard__title:hover {
	color: $main-red;
}
.red .postcard__bar {
	background-color: $main-red;
}
.red::before {
	background-image: linear-gradient(-30deg, $main-red-rgb-015, transparent 50%);
}
.red:nth-child(2n)::before {
	background-image: linear-gradient(30deg, $main-red-rgb-015, transparent 50%);
}

.postcard .postcard__tagbox .yellow.play:hover {
	background: $main-yellow;
	color: black;
}
.yellow .postcard__title:hover {
	color: $main-yellow;
}
.yellow .postcard__bar {
	background-color: $main-yellow;
}
.yellow::before {
	background-image: linear-gradient(
		-30deg,
		$main-yellow-rgb-015,
		transparent 50%
	);
}
.yellow:nth-child(2n)::before {
	background-image: linear-gradient(
		30deg,
		$main-yellow-rgb-015,
		transparent 50%
	);
}

@media screen and (min-width: 769px) {
	.green::before {
		background-image: linear-gradient(
			-80deg,
			$main-green-rgb-015,
			transparent 50%
		);
	}
	.green:nth-child(2n)::before {
		background-image: linear-gradient(
			80deg,
			$main-green-rgb-015,
			transparent 50%
		);
	}

	.blue::before {
		background-image: linear-gradient(
			-80deg,
			$main-blue-rgb-015,
			transparent 50%
		);
	}
	.blue:nth-child(2n)::before {
		background-image: linear-gradient(80deg, $main-blue-rgb-015, transparent 50%);
	}

	.red::before {
		background-image: linear-gradient(-80deg, $main-red-rgb-015, transparent 50%);
	}
	.red:nth-child(2n)::before {
		background-image: linear-gradient(80deg, $main-red-rgb-015, transparent 50%);
	}
	
	.yellow::before {
		background-image: linear-gradient(
			-80deg,
			$main-yellow-rgb-015,
			transparent 50%
		);
	}
	.yellow:nth-child(2n)::before {
		background-image: linear-gradient(
			80deg,
			$main-yellow-rgb-015,
			transparent 50%
		);
	}
}


 /* card que gira*/
.container .box{
    position: relative;
	width: 100%;
    max-width: 300px;
    height: 300px;
    margin: 20px;
    transform-style: preserve-3d;
    perspective: 1000px;
    cursor: pointer;
	
	
}

.container .box .body{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.9s ease;
	
}



.container .box .body .imgContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
	
}

.container .box .body .imgContainer img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .box .body .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
	
	
}

.container .box:hover .body{
    transform: rotateY(180deg);
}

.container .box .body .content div{
    transform-style: preserve-3d;
    padding: 10px;
    background: linear-gradient(45deg, #a3c6ff,#aee3fe);
    transform: translateZ(100px);
	text-align: center;
	
	
}

.container .box .body .content div h3{
    letter-spacing: 1px;
}

/* icono zoom*/
 .icon-resize-full-screen{
	color: black;
	font-weight: bold;
	z-index: 1;
	position: absolute;
    margin-left: -30px;
    cursor:pointer;
	margin-top: 22px;
	font-size: 25px;
	filter: opacity(46%);
	background-color: #e3f2fd;
	border-radius: 150px 150px 150px 150px;
  }

 
  .icon-resize-full-screen:hover{
	filter: opacity(99%);
	background-color: white;
	font-size: 30px;
  }


 .zoom{
	color: black;
	font-weight: bold;
	z-index: 1;
	position: absolute;
    margin-left: -30px;
    cursor:pointer;
	margin-top: 22px;
	font-size: 25px;
	filter: opacity(46%);
	background-color: #e3f2fd;
	border-radius: 150px 150px 150px 150px;
  }

 
  .zoom:hover{
	filter: opacity(99%);
	background-color: white;
	font-size: 30px;
  }


  /*card nueva*/
.carta {
    transition: transform 0.2s ease;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);

	
  }
  .carta:hover {
    transform: scale(1.1);
	cursor: pointer;
  }


        .cardt {
width: 100%;
			height: auto;
          max-height: 520px;
       
          border-radius: 8px;
          box-shadow: 0px 8px 20px #0000007a;
      }
      


.wrapper-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
	
	
}

.containerr{
  overflow: hidden;
  box-shadow: 0px 2px 8px 0px var(--clr-gray-light);
  background-color: white;
  text-align: center;
  border-radius: 1rem;
  position: relative;
  width: 280px;
  margin-bottom: 1rem;
  margin-left: 1rem;
  box-shadow: 4px 8px 5px 0px rgba(0,0,0,0.75);
	border: 1px solid darkblue;


}

 .card-count-container{
      display: flex;
      align-items: center;
      width: 100%;
      height: 200px;
      padding: 20px 0px;
    }
    

 .card-count{
      font-weight: bold;
      font-size: 100px;
      width: 150px;
      height: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      margin: auto;
      margin-right: -50px;
      padding-right: 25px;
      overflow: hidden;
      color: #ffffff;
      background: linear-gradient(29deg,#005fff 0%, #70b2f8 80%);
      text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
      transition: all 0.2s ease-in-out;
	  cursor: pointer;
	  
    }
    
    .card-content{
      padding: 20px;
      padding-top: 0px;
	  
     
    }
    

.banner-img {
  position: absolute;
  background-image: url("../images/equilibrar.png");
  height:130px;
  width: 280px;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
	object-fit: contain;
border-radius: 17px 17px 17px 17px;
	
	
}

.banner-imgg {
  position: absolute;
  background-image: url("../images/mesa-de-ayuda.gif");
  height:130px;
  width: 280px;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
	object-fit: contain;
border-radius: 17px 17px 17px 17px;
	
	
}

.banner-imggg {
  position: absolute;
  background-image: url("../images/reunion(1).gif");
  height:130px;
  width: 280px;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
	object-fit: contain;
border-radius: 17px 17px 17px 17px;
	
	
}

.profile-img {
  width: 8rem;
  clip-path: circle(90px at center);
  margin-top: 8rem;
	 background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
	object-fit: contain;

}

.name {
  font-weight: bold;
  font-size: 1.5rem;
}

.description {
  margin: 1rem 2rem;
  font-size: 0.9rem;
}

.btnn {
  width: 100%;
 

  font-weight: bold;

 
	color:black; text-decoration: none; font-size: 20px; text-align: justify;
}

/*Estilo de la barra lateral*/

#barraLateral{
	/*posicion y tamaño*/
	position: fixed;
	top: 30%;
	left: -70px;
	width: 80px;
	height: 40%;
	/*Utilizado para centrar los elementos verticalmente*/
	display: table;  
	/*visualización*/
	background-color: #F5F4F4;
	border: 1px solid white;
	border-radius: 20px;
	text-align: center;
	z-index:600;                                                                         
	/*efecto*/
	-webkit-transition: left 1s;
	-ms-transition: left 1s;
	-o-transition: left 1s;
	-moz-transition: left 1s;
	text-decoration:none;
}

#barraLateral:hover{
left: 0;
	text-decoration:none;
}


#elementos{
	/*Utilizado para centrar los elementos verticalmente*/
	display: table-cell; 
	vertical-align: middle;
}

.elementoBarra{
	width: 100%;
	height: auto;
	margin:auto auto;
	text-decoration:none;
	color: darkblue;
    border-radius: 50px;
}


.loading::after{
			top: 0;
		}